.app{
    background-color: rgb(249, 240, 225);
    height: 100vh;
    overflow-y: scroll;
}

*{
    ::-webkit-scrollbar {
        width: 0;
      }
    
      -webkit-tap-highlight-color: transparent;
}